input[type=range] {
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	width: 90%; /* Specific width is required for Firefox. */
	background: transparent; /* Otherwise white in Chrome */
	margin-left: 5%;
	margin-right: 5%;
}

body, html {
				padding: 0px;
				margin: 0px;
			}
			#map {
				height: 100%;
				width: 75%;
				position: absolute;
				left: 25%;
			}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: gray;
	border: 0.2px solid #999999;
	margin-bottom: 12px;
	margin-top: 6px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: 1px solid #000000;
	height: 16px;
	width: 8px;
	background: #ffffff;
	cursor: pointer;
	margin-top: -8px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

#sidebar {
	height: 100%;
	width: 25%;
	position: absolute;
	background: url('./img/c92798f3.png');
	color: #d6d6d6;
	font-family: sans-serif;
}

.logo {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 90%;
}

.slider {
	margin-top: 50px;
	width: 100%;
}

.slider label.left {
	text-align: left;
	margin-left: 10px;
	float: left;
	display: block;
}

.slider label.right {
	text-align: right;
	margin-right: 10px;
	float: right;
	display: block;
}

.slider label.center {
	text-align: center;
	width: 100%;
	display: block;
}